---
layout: landing
---
				<!-- Banner -->
					<section id="banner">
						<div class="inner">
							<h2>{{ site.title }}</h2>
							<p>
							<ul class="icons">
							    {% for socloc in site.social %}
							    {% if socloc[1] %}
							    {% if socloc[0] == 'email' %}
							    <li><a target="_blank" href="{{ socloc[1] }}" class="icon fa-envelope-o fa-2x"
							           ><span class="label">E-mail</span></a></li>
							    {% else %}
							    <li><a target="_blank" href="{{ socloc[1] }}" class="icon fa-{{ socloc[0] }} fa-2x"
							           ><span class="label">{{ socloc[0] }}</span></a></li>
							    {% endif %}
							    {% endif %}
							    {% endfor %}
							</ul>
							</p>
						</div>
						<a href="#one" class="more scrolly">Mehr über mich</a>
					</section>

				<!-- One -->
					<section id="one" class="wrapper style1">
						<div class="inner">
							<header class="major">
								<h2>Über mich</h2>
								<p>Mein Name ist Marcel Skorupski und ich bin 29 Jahre alt. Ich habe vor meiner Selbstständigkeit Wirtschaftsrecht studiert und war bereits an vielen Projekten im Internet aktiv beteiligt. Ich konnte in den letzten Jahren ein Netzwerk aus den verschiedensten Kreisen aufbauen und habe dadurch einen vielseitigen Einblick in die Unternehmensberatung bekommen. Meine Philosophie ist relativ simpel. Ich strukturiere Ihr Unternehmen nicht um oder werde das Rad für Sie neu erfinden, ich mache Ihr Unternehmen für jede Generation cool und verständlich.<br />
								<br />
								Diese und weitere Attribute bringe ich nicht nur in meinem eigenen Unternehmen mit ein, sondern biete Ihnen eine individuelle Beratung an, die das Ziel verfolgt Ihr Unternehmen noch besser zu machen.</p>
							</header>
						</div>
					</section>

				<!-- Two -->
					<section id="two" class="wrapper alt style2">
						<section class="spotlight">
							<div class="image"><img src="images/pic01.jpg" alt="" /></div><div class="content">
								<h2>Magna primis lobortis<br />
								sed ullamcorper</h2>
								<p>Aliquam ut ex ut augue consectetur interdum. Donec hendrerit imperdiet. Mauris eleifend fringilla nullam aenean mi ligula.</p>
							</div>
						</section>
						<section class="spotlight">
							<div class="image"><img src="images/pic02.jpg" alt="" /></div><div class="content">
								<h2>Tortor dolore feugiat<br />
								elementum magna</h2>
								<p>Aliquam ut ex ut augue consectetur interdum. Donec hendrerit imperdiet. Mauris eleifend fringilla nullam aenean mi ligula.</p>
							</div>
						</section>
					</section>

					<section id="dsdsdsds" class="wrapper style1">
						<div class="inner">
							<header class="major">
								<h2>beratung mal anderes</h2>
								<p>Ich gebe Ihnen keine standardisierte Beratung und sage Ihnen was die Konkurrenz anders oder besser macht. Ich schaue mir Ihr Unternehmen an und lasse mich in Gesprächen mit Ihnen und ggfs. auch Ihren Mitarbeitern durch die Philosophie des Unternehmens führen und entwickle dann zusammen mit Ihnen ein großartiges Konzept um Ihr Unternehmen noch besser zu machen.<br />
								Ruhen Sie sich also nicht auf dem was Sie haben aus, sondern setzen Sie Zeichen, setzen Sie Trends, seien Sie anders als die Anderen, heben Sie sich ab und werden Sie Vorbild für viele andere Unternehmen.</p>
							</header>
							<ul class="icons major">
								<li><span class="icon fa-diamond major style1"><span class="label">Lorem</span></span></li>
								<li><span class="icon fa-heart-o major style2"><span class="label">Ipsum</span></span></li>
								<li><span class="icon fa-code major style3"><span class="label">Dolor</span></span></li>
							</ul>
						</div>
					</section>

				<!-- Three -->
					<section id="three" class="wrapper style3 special">
						<div class="inner">
							<header class="major">
								<h2>mein angebot für euch</h2>
								<p>Mein Angebot ist stets individuell und wird nach den ersten Gesprächen konkretisiert und darauf aufbauend, wird dann ein Angebot für Sie angefertigt.</p>
							</header>
							<ul class="features">
								<li class="icon fa-paper-plane-o">
									<h3>Unternehmensberatung</h3>
									<p>In meiner individuellen Unternehmensberatung geht es in erster Linie um den Wechsel zu dem „anders sein“. Aus dem“ einfach mal so tun“ entwickle ich eine Strategie. Aus dem „es läuft doch nach all den Jahren“ entwickle ich ein Wow und zu guter Letzt mache ich dein Unternehmen für jede Zielgruppe interessant und schaffe einen hohen Widererkennungswert.</p>
								</li>
								<li class="icon fa-laptop">
									<h3>Wettbewerbsanalyse</h3>
									<p>Ich werde zusammen mit meinem kompetenten Team den Markt und die Wettbewerbssituation analysieren und aus den Ergebnissen bestimmte Zielvorgaben für Ihr Unternehmen entwerfen. Ich werde im ständigen Austausch mit Ihnen begleitende Lösungen vorschlagen und durchführen, damit Sie der Konkurrenz immer einen Schritt voraus sind.</p>
								</li>
								<li class="icon fa-code">
									<h3>Werbekampagnen</h3>
									<p>Ihr Unternehmen braucht einen neuen Anstrich? Es läuft irgendwie nicht so richtig? Sie wollen nicht nur oder unbedingt nur eine bestimmte Zielgruppe für Ihr Unternehmen begeistern? 
									Ich werde aus verschiedenen Gesprächen und Eindrücken eine Werbekampagne entwickeln, die komplett auf den Interessen Ihrer Zielgruppe zugeschnitten ist. Egal welches Gewerbe, ich finde Ihre maßgeschneiderte Kampagne und produziere Sie auch auf Wunsch mit meinem Team um Fourtion.</p>
								</li>
								<li class="icon fa-headphones">
									<h3>Social Media</h3>
									<p>Ich entscheide welche Sachen Sie und Ihr Unternehmen wann und wo platzieren. Sollten Sie noch keinen Account in den sozialen Netzwerken haben, dann wird es höchste Zeit dieser (aus meiner Sicht) Pflicht nachzukommen. Ich führe Sie durch die sozialen Netzwerke und helfe Ihnen auch diese zu pflegen und aufzubauen.</p>
								</li>
								<li class="icon fa-heart-o">
									<h3>Lass uns das Ding rocken</h3>
									<p>Um Ihrer Zielgruppe das Unternehmen näher zu bringen gibt es verschiedene Möglichkeiten. Ob es eine kleine Party ist, eine moderierte Talk-Runde oder einfach nur eine Netzwerkveranstaltung oder eine Präsentation. Ich organisiere für Sie solche Veranstaltungen und führe auch gerne Ihre Zielgruppe oder Interessenten durch die neue Struktur Ihres Unternehmens. In gemeinsamer Abstimmung sorgen wir für eine unvergessliche Veranstaltung.</p>
								</li>
								<li class="icon fa-flag-o">
									<h3>Fourtion Personalsuche</h3>
									<p>Im letzten Punkt biete ich Ihnen eine automatisierte Personaldienstleistung an, die anhand von Ihren Angaben den passenden Mitarbeiter vorschlägt. Egal ob Sie eine Personalabteilung haben oder nicht, mit unserem Service wird Ihnen nicht nur viel Arbeit und Stress erspart sondern vor allem Zeit…Zeit die Sie in anderen Bereichen investieren können. Geben Sie uns den Auftrag und wir kümmern uns darum.</p>
								</li>
							</ul>
						</div>
					</section>
					<section id="cta" class="wrapper style2">
						<div class="inner">
							<header>
								<h2>Mental-Coaching</h2>
								<p>Ich möchte Ihnen auch die Gelegenheit geben, an einem Mental-Coaching meines Partner Bastian Lobeck teilzunehmen.
								<br /><br/>
								Dazu besuchen Sie einfach die Seite<br />
								<a href="www.bastianlobeck.de">www.bastianlobeck.de</a></p>
							</header>
						</div>
					</section>

				<!-- CTA -->
					<section id="cta" class="wrapper style4">
						<div class="inner">
							<header>
								<h2>{{ site.quote_label }}</h2>
								<p>{{ site.quote_caption }}</p>
							</header>
						</div>
					</section>
