---
layout: landing
---
				<!-- Banner -->
					<section id="banner">
						<div class="inner">
							<h2>{{ site.title }}</h2>
							<p>{{ site.description | markdownify }}</p>
							<ul class="actions">
								<li><a href="http://www.meetup.com/Austin-Web-Design/" class="button special">Join us on Meetup</a></li>
							</ul>
						</div>
						<a href="#one" class="more scrolly">Next meeting details</a>
					</section>

					<section id="one" class="wrapper style1 special">
						<div class="inner">
							<header class="major">
								{% for post in site.posts limit:1 %}
								<h2 id="upcoming">{{ post.title }}</h2>
								<p>{{ post.content}}</p>
								{% endfor %}
							</header>
							<h2>Sponsor</h2>
							<p>Huge thanks to our sponsor this month, <a href="http://devbootcamp.com/">Dev Bootcamp!</a></p>
							<img style="width:200px;" src="{{ site.url }}/images/sponsors/dbc-white.jpg" alt="">
						</div>
					</section>

					<section id="three" class="wrapper style3 special">
						<div class="inner">
							<header class="major">
								<h2 id="previous">Previous meetings</h2>
							</header>
							<ul class="features">
								{% for post in site.posts %}
								<li>
									<h3>{{ post.title }}</h3>
									<p><em>{{ post.date | date: '%B %d, %Y' }}</em></p>
									{{ post.excerpt | remove: '<p>' | remove: '</p>' }}
								</li>
								{% endfor %}
							</ul>
						</div>
					</section>

				<!-- CTA -->
					<section id="cta" class="wrapper style4">
						<div class="inner">
							<header>
								<h2 id="contact">Get in touch</h2>
								<p>Interested in sponsoring or speaking? Let us know!</p>
							</header>
							<ul class="actions vertical">
								<li><a href="mailto:sponsor@refreshaustin.org" class="button fit special">Sponsor</a></li>
								<li><a href="mailto:speak@refreshaustin.org" class="button fit">Speak</a></li>
							</ul>
						</div>
					</section>
