---
layout: default
---
<article id="main">

  <header>
    <h2 class="post-title">{{ page.title }}</h2>
    <p class="post-meta">{{ page.date | date: "%b %-d, %Y" }}{% if page.author %} • {{ page.author }}{% endif %}{% if page.meta %} • {{ page.meta }}{% endif %}</p>
  </header>

  <section class="wrapper style5">
    <div class="inner">
      {{ content }}
    </div>
  </section>

   <section class="wrapper style5">
    <div class="inner">
      {% if page.previous %}
        <article class="{% cycle '6u', '6u$' %} 12u(small) excerpt">
          <header>
            <h2><a href="{{ page.previous.url }}">{{ page.previous.title }}</a></h2>
          </header>
          <section>
            {{ page.previous.excerpt }}
          </section>
          <footer>
            <ul class="actions">
              <li><a href="{{ page.previous.url }}" class="button">mehr lesen</a></li>
            </ul>
          </footer>
        </article>
      {% endif %}

      {% if page.next %}
        <article class="{% cycle '6u', '6u$' %} 12u(small) excerpt f-right">
          <header>
            <h2><a href="{{ page.next.url }}">{{ page.next.title }}</a></h2>
          </header>
          <section>
            {{ page.next.excerpt | markdownify }}
          </section>
          <footer>
            <ul class="actions">
              <li><a href="{{ page.next.url }}" class="button">mehr lesen</a></li>
            </ul>
          </footer>
        </article>
      {% endif %}
    </div>
  </section>

</article>